.product-card {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 25px 24px;
    max-width: 338px;
    width: 100%;
    height: 603px;
    text-align: center;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.text-wrapper {
    text-align: left;
}

.product-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.product-card h3 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    height: 73px;
    margin-top: 8px;
}

.description-wrapper {
    margin-top: 5px;
    height: 71px;
}

.product-card p {
    font-size: 12px;
    color: #767676;
    line-height: 18px;
    letter-spacing: 0;
}

.text-bold {
    font-weight: 700;
    color: #000;
}

.energy-class-wrapper {
    margin: 17px 0px;
    display: flex;
    align-items: center;
}

.energy-flag-container {
    display: inline-block;
    margin-left: 8px;
}

.energy-flag {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 18px;
    /* Total width will be 43px + 6px triangle = 49px */
    width: 43px;
    padding: 0 0 0 6px;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 0;
}

.energy-flag-triangle {
    position: absolute;
    right: -6px;
    /* Triangle extends 6px right of container */
    top: 0;
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    /* Half of 18px height */
    border-bottom: 9px solid transparent;
    /* Half of 18px height */
    border-left: 6px solid;
}

.price-wrapper {
    display: flex;
    align-items: center;
}

.price-wrapper h2 {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0;
    font-weight: 700;
}

.price-fractional-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 1;
    margin-left: 2px;
    width: 19px;
    height: 31px;
}

.price-decimals,
.price-currency {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
    font-weight: 700;
}

/* Color schemes */
.energy-a {
    background-color: #009949;
    /* Dark Green */
    color: #fff;
}

.energy-a .energy-flag-triangle {
    border-left-color: #009949;
}

.energy-b {
    background-color: #52AE32;
    /* Green */
    color: #fff;
}

.energy-b .energy-flag-triangle {
    border-left-color: #52AE32;
}

.energy-c {
    background-color: #C8D400;
    /* Light Green */
    color: #fff;
}

.energy-c .energy-flag-triangle {
    border-left-color: #C8D400;
}

.energy-d {
    background-color: #FFED00;
    /* Yellow */
    color: #333;
}

.energy-d .energy-flag-triangle {
    border-left-color: #FFED00;
}

.energy-e {
    background-color: #FBBA00;
    /* Orange */
    color: #fff;
}

.energy-e .energy-flag-triangle {
    border-left-color: #FBBA00;
}

.energy-f {
    background-color: #EC6608;
    /* Dark Orange */
    color: #fff;
}

.energy-f .energy-flag-triangle {
    border-left-color: #EC6608;
}

.energy-na {
    background-color: #9E9E9E;
    /* Gray */
    color: #fff;
}

.energy-na .energy-flag-triangle {
    border-left-color: #9E9E9E;
}

.instalments-label {
    display: inline-block;
    color: #555555;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0;
    font-weight: 700;
    margin: 17px 0px;
}

.product-card button {
    padding: 14px 40px;
    background-color: #1428A0;
    width: 150px;
    height: 36px;
    color: #fff;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-select-button:hover {
    background-color: #1a34d0;
}

.product-select-button.selected {
    background-color: #1C1C1C;
}