.filters-bar-container {
    display: flex;
    justify-content: space-between;
    padding: 0 18px;
}

.filters-bar-container select {
    padding: 6px 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    min-width: 120px;
}