.filters-bar-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    padding: 0 18px;
    gap: 10px;
}

.filter-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filters-bar-container label {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0;
}

.filters-bar-container select {
    background-color: #ffffff;
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    width: 249px;
    height: 36px;
}

@media (max-width: 1024px) {
    .filters-bar-container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        /* 2 on medium screens */
    }
}

@media (max-width: 600px) {
    .filters-bar-container {
        grid-template-columns: 1fr;
        /* 1 on small screens */
    }
}