.search-input {
    display: block;
    margin: 0 auto 20px;
    padding: 8px 12px;
    width: 249px;
    height: 36px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}