* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'SamsungOne', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

/* .app-container {
  display: flex;
} */